<html lang="es">
<header>
    <meta charset="utf-8">
    <title>{{title}} | Índice gravinero</title>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}} | Índice gravinero">
    <meta name="twitter:description" content="Clip de {{episode.title}}">
    <meta name="twitter:site" content="@gravina82">
    <meta name="twitter:creator" content="@gravina82">
    <meta name="twitter:image:src" content="{{episode.cover}}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{title}} | Índice gravinero">
    <meta name="og:description" content="Clip de {{episode.title}}">
    <meta name="og:image" content="{{episode.cover}}">
    <meta name="og:url" content="https://indice.gravina82.com/{{id}}">
    <meta name="og:site_name" content="{{title}} | Índice gravinero">
    <meta name="og:locale" content="es_ES">
    <meta name="og:type" content="article">
    <!-- Open Graph - Article -->
    <meta name="article:section" content="Social Media">
    <meta name="article:author" content="Gravina82">
    <meta name="article:tag" content="Social Media">
</header>
<body>

</body>
</html>
